
@section Styles {
    @*<link rel="icon" href="/adminstatic/images/favicon.ico">*@
    <link rel="stylesheet" href="/adminstatic/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/adminstatic/css/layuimini.css?v=2.0.4.2" media="all">
    <link rel="stylesheet" href="/adminstatic/css/themes/default.css" media="all">
    <link rel="stylesheet" href="/adminstatic/lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style id="layuimini-bg-color">
    </style>
}

@section Script{

}

<div class="layui-layout layui-layout-admin">
    没有权限，<a href="/admin/user/logout">退出</a>
</div>